<!-- Navigation Bar -->

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">TodoList</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<!-- Todo Form / Input  -->

  <!-- TODO -> To handel button click, create a function  -->
  <!-- TODO -> Use the function to take input from user  -->
  <!-- TODO -> Log the input to the console  -->

  <!-- TODO -> Handel Edge Case -->


<form class="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">TODO</label>
    <!-- #todoText is a refrence variable # denotes refrence -->
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #todoText>
    <div id="emailHelp" class="form-text">We know you forget things, use this to remind yourself</div>
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="getUserInput(todoText)">Submit</button>
</form>


<!-- Todo Output -->

@if (todoItem) {
  <div class="card" >
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{todoItem}}</li>
    </ul>
  </div>
}@else {
  <div class="alert card alert-warning" role="alert">
    TODO Is Empty!!
  </div>
}
